@page "/qr/{Id:int}"
@using Microsoft.AspNetCore
@using QRCoder
@using Session4.Model

<h3>Qr</h3>

<img alt="" src="@QRByte" width="300" class="mb-5" />

@code {
    [Parameter]
    public int? Id { get; set; }
    public string? QRCodeText { get; set; }
    public string QRByte = "";
    private static List<Employee>? employees = new();
    private HttpClient httpClient = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        employees = await httpClient.GetFromJsonAsync<List<Employee>>("http://localhost:5107/Employees");
        GenerateQRCode();
    }

    public void GenerateQRCode()
    {
        Employee employee = employees!.FirstOrDefault(p => p.IdEmployee == Id)!;
        QRCodeText = employee.ToString();
        if (!string.IsNullOrEmpty(QRCodeText))
        {
            using (QRCodeGenerator qrGenerator = new QRCodeGenerator())
            using (QRCodeData qrCodeData = qrGenerator.CreateQrCode(QRCodeText, QRCodeGenerator.ECCLevel.Q))
            using (var qrCode = new QRCoder.BitmapByteQRCode(qrCodeData))
            {
                var qrCodeImage = qrCode.GetGraphic(20);
                string  base64Text = Convert.ToBase64String(qrCodeImage);
                QRByte = string.Format("data:image/bmp;base64,{0}",base64Text);
            }
        }
    }





}


@* @code {
    public string CreateQr(){
        var qr = QrCode.EncodeText("Hello", QrCode.Ecc.Medium);
        var t = qr.ToSvgString(2);
        t.
    } *@

